body {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    font-size: 62.5%;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Karla', sans-serif;
    color: black;
}

.upper {
    text-transform: uppercase;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    text-transform: uppercase;
    
}

ul a {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    line-height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

ul a:hover {
    color: tomato;
}

.logo {
    margin-bottom: -50px;
    padding-left: 25px;
    padding-right: 25px;
}

.slider {
    background-image: url("../img/herobanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 320px;
    background-position: center center;
    text-align: center;
}

.slider span {
    font-family: 'Libre Baskerville', serif;
    line-height: 320px;
    font-size: 3rem;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    box-shadow: inset 0px 35px 0px 0px white;
}

/* offer */
#offer {
    max-width: 900px;
    margin: 0 auto;
}

#offer h2:after {
    content: " ";
    display: inline-block;
    background-color: #d7d7d7;
    width: 150px;
    height: 10px;
    margin-left: 10px;
    margin-bottom: 7px;
 }

h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
}

p.discription {
    max-width: 65%;
    line-height: 1rem; 
}

#offer .list {
    margin-top: 25px;
    margin-bottom: 25px;
}

.firstlist h3, .secondlist h3 {
    font-weight: 700;
    letter-spacing: 2px;
}

.firstlist, .secondlist {
    float: left;
    margin-right: 70px;
    width: 120px;
}

.firstlist ul li, .secondlist ul li {
    display: block;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 0.5rem;
    border-bottom: 1px solid #d7d7d7;
}

.firstlist ul li:last-child {
    border-bottom: none;
}

.workspace {
    float: right;
    margin-top: -220px;
}

.workspace p {
    margin-bottom: 10px;
}

#offer .workspace:before {
    content: " ";
    display: inline-block;
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 6px solid #d7d7d7;
    margin-left: -32px;
    margin-bottom: -50px;
 }

